Repository girder/girder, pull requests merged in 2018-07, with the labels that each got.

#2754 Fix setting notification stream option from system configuration view
  clients/web/src/templates/body/systemConfiguration.pug
Labels: bug, domain: web-client

#2765 Move proxy settings docs to appropriate place
  docs/deploy.rst
Labels: bug, domain: docs

#2766 Respect config api_root setting in getApiUrl()
  girder/api/rest.py
Labels: bug, domain: server

#2767 Fix a client error raised when deleting a collection
  clients/web/src/views/widgets/HierarchyWidget.js
Labels: bug, domain: web-client

#2768 Add an endpoint to poll for notifications
  girder/api/v1/notification.py
  test/test_notification.py
Labels: domain: server, feature
