Repository girder/girder, pull requests merged in 2018-03, with the labels that each got.

#2600 Add tests asserting the behavior of 'hidden folders'
  test/test_folder.py
  tests/cases/resource_test.py
Labels: bug, domain: server

#2577 Refactor Python documentation building
  .circleci/config.yml
  .gitignore
  CHANGELOG.rst
  clients/python/.gitignore
  devops/beanstalk/.ebignore
  docs/Makefile
  docs/api-docs.rst
  docs/build-docs.rst
  docs/conf.py
  docs/make.bat
  docs/plugin-development.rst
  docs/plugins.rst
  docs/requirements-docs.txt
  girder/api/describe.py
  girder/api/docs.py
  girder/events.py
  girder/models/__init__.py
  girder/utility/__init__.py
  girder/utility/config.py
  girder/utility/search.py
  grunt_tasks/sphinx.js
  package.json
  requirements-dev.txt
  tests/CMakeLists.txt
  tests/DocumentationTests.cmake
  tox.ini
Labels: domain: docs

#2660 Do not specify default service for S3 assetstore type
  devops/ansible/roles/girder/library/girder.py
Labels: bug, domain: devops

#2270 Item tasks from girder_worker describe decorators
  plugins/item_tasks/plugin_tests/mock_worker.py
  plugins/item_tasks/plugin_tests/tasksSpec.js
  plugins/item_tasks/plugin_tests/tasks_test.py
  plugins/item_tasks/requirements.txt
  plugins/item_tasks/server/__init__.py
  plugins/item_tasks/server/celery_tasks.py
  plugins/item_tasks/server/rest.py
  plugins/item_tasks/web_client/templates/configureCeleryTasks.pug
  plugins/item_tasks/web_client/templates/configureTasks.pug
  plugins/item_tasks/web_client/views/ConfigureTasksDialog.js
Labels: domain: server

#2679 Girder client: The size is not required to upload data
  clients/python/girder_client/__init__.py
Labels: domain: python-client
